
html {
    --color: #222;
    --background-color: #ccc;

    --inactive-color: #2225;
    --active-color: #000;

    --todo-border-color: #d00;
    --error-border-color: #a02;

    --slider-active-background-color: #28e;
    --slider-inactive-background-color: #999;

    --menu-background-color: #aaa;
    --menu-item-hover-background-color: #0001;
    --menu-item-active-background-color: #0002;

    --menu-separator-background-color: #555;
    --menu-header-color: #777;
    --menu-show-more-color: #777;

    --menu-button-background-image: url('../resources/menu-light.png');

    --icon-add-background-color: #1d1;
    --icon-add-hover-background-color: #3e3;
    --icon-add-active-background-color: #5f5;

    --icon-remove-background-color: #d22;
    --icon-remove-hover-background-color: #e55;
    --icon-remove-active-background-color: #f77;

    --vocab-background-color: #9997;
    --vocab-hover-background-color: #aaa7;
    --vocab-active-background-color: #bbb7;

    --vocab-selected-background-color: #5557;
    --vocab-selected-hover-background-color: #6667;
    --vocab-selected-active-background-color: #7777;

    --sidebar-background-color: #6781;

    --editor-window-background-color: #6781;

    --input-border-color: #999;
    --input-focus-border-color: #aaa;

    --button-background-color: #2227;

    --popup-background-color: #bbb;
    --popup-button-border-color: #fff;

    --popup-box-shadow-color: #0003;

    --popup-button-confirm-background-color: #27f;
    --popup-button-confirm-background-color-hover: #49f;
    --popup-button-confirm-background-color-active: #6af;
    --popup-button-cancel-background-color: #f33;
    --popup-button-cancel-background-color-hover: #f55;
    --popup-button-cancel-background-color-active: #f77;
    --popup-button-update-background-color: #3c3;
    --popup-button-update-background-color-hover: #5c5;
    --popup-button-update-background-color-active: #7c7;

    --popup-update-red-span-color: #b11;
    --popup-update-green-span-color: #191;

    --red-menu-item-color: #b01;
    --blue-menu-item-color: #15f;

    --vocab-span-en-color: #f27;
    --vocab-span-de-color: #2af;
    --vocab-span-synonym-color: #1bf;
    --vocab-span-antonym-color: #f33;

    --add-image-button-color: #0a0;
    --remove-image-button-color: #a01;
}
